.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}

.nav-log{
    width: 110px;
}
.nav-rofile{
    width: 35px;
}
@media (max-width:800px) {
    .Navbar{

        padding: 15px 30px;
    }
    .nav-log{
        width: 90px;
    }
    .nav-rofile{
        width: 30px;
    }
}